html {
  background: url("imgs/sparkLanding.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.testBox {
  border: solid 1px red;
  background-color: green;
}

.sparkText h1 {
  font-family: Roboto-Thin;
  font-size: 120pt;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 4vw;
}

.infoTextLanding h2 {
  font-family: Roboto-Thin;
  font-size: 20pt;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 4vw;
}

.searchBar {
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 3px 3px black;
  border-bottom: 0px
}

.searchBar input {
  border: 0 !important;
}

input::placeholder {
  text-align: center;
}

input {
  text-align: center;
}
